In [94]:
# Installing the packages
import numpy as np
import pandas as pd
import seaborn as sns 
import datetime
import os

In [95]:
os.chdir("C:/Uni/Master/AMI/Git/group10/data/economy/raw_data")
df = pd.read_csv('GDAXI.csv') # File path description
df.size
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1990-01-02,1788.890015,1788.890015,1788.890015,1788.890015,1788.890015,0.0
1,1990-01-03,1867.290039,1867.290039,1867.290039,1867.290039,1867.290039,0.0
2,1990-01-04,1830.920044,1830.920044,1830.920044,1830.920044,1830.920044,0.0
3,1990-01-05,1812.900024,1812.900024,1812.900024,1812.900024,1812.900024,0.0
4,1990-01-08,1841.469971,1841.469971,1841.469971,1841.469971,1841.469971,0.0

In [96]:
df=df.drop(['Open', 'Volume', 'Adj Close'], axis=1)

In [97]:
df=df.dropna()
df.size

30784

In [98]:
df.dtypes

Date      object
High     float64
Low      float64
Close    float64
dtype: object

In [99]:
df.columns = ['date', 'High', 'Low', 'Close']

In [100]:
time=pd.to_datetime(df.date)
time.dtypes

dtype('<M8[ns]')

In [101]:
df.date=pd.to_datetime(df.date)
df.dtypes

date     datetime64[ns]
High            float64
Low             float64
Close           float64
dtype: object

In [102]:
per = df.date.dt.to_period("M")  # new way to get the same
close = df.groupby(per)
Dax_mean=close.mean()  # dang not quite what we want (doesn't fill in the gaps)
Dax_mean=Dax_mean.drop(['High', 'Low'], axis=1)
Dax_mean.head()

               Close
date
1990-01  1814.727728
1990-02  1855.806500
1990-03  1885.929560
1990-04  1893.963694
1990-05  1856.984753

In [103]:
high = df.groupby(per)
Dax_peak=high.max()  # dang not quite what we want (doesn't fill in the gaps)
Dax_peak=Dax_peak.drop(['Low', 'Close', 'date'], axis=1)
Dax_peak.head()

                High
date
1990-01  1867.290039
1990-02  1939.819946
1990-03  1966.750000
1990-04  1965.910034
1990-05  1920.880005

In [104]:
low = df.groupby(per)
Dax_low=high.min()  # dang not quite what we want (doesn't fill in the gaps)
Dax_low=Dax_low.drop(['High', 'Close', 'date'], axis=1)
Dax_low.head()

                 Low
date
1990-01  1751.619995
1990-02  1764.060059
1990-03  1796.180054
1990-04  1812.910034
1990-05  1803.250000

In [105]:
Dax_low.dtypes

Low    float64
dtype: object

In [106]:
Dax_low=Dax_low.dropna()
Dax_low['Low']=Dax_low['Low'].astype(int)

In [107]:
Dax_low.dtypes

Low    int32
dtype: object

In [108]:
Dax_low=Dax_low.dropna()
#Dax_low.to_csv(r'Dax_low_processed.csv')

In [109]:
Dax_peak=Dax_peak.dropna()
Dax_peak['High']=Dax_peak['High'].astype(int)
#Dax_peak.to_csv(r'Dax_peak_processed.csv')

In [110]:
Dax_mean.head()

               Close
date
1990-01  1814.727728
1990-02  1855.806500
1990-03  1885.929560
1990-04  1893.963694
1990-05  1856.984753

In [111]:
Dax_mean=Dax_mean.dropna()
Dax_mean.columns = ['ECO_DAX']
Dax_mean=Dax_mean.replace(to_replace=r',', value='.', regex=True)
#Dax_mean=Dax_mean.replace(to_replace=r'Date', value='date', regex=True)
Dax_mean.head()
#Dax_mean['Close']=Dax_mean['Close'].astype(int)
Dax_mean.to_csv(r'../ECO_DAX.csv')