In [1]:
# Installing the packages
import numpy as np
import pandas as pd
import seaborn as sns 
import datetime
import os

In [2]:
os.chdir("C:/Uni/Master/AMI/Git/group10/data/economy/raw_data")
df = pd.read_csv('MDAXI.csv') # File path description
df.size
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1996-02-29,2622.889893,2622.889893,2622.889893,2622.889893,2622.889893,0.0
1,1996-03-01,2643.760010,2643.760010,2643.760010,2643.760010,2643.760010,0.0
2,1996-03-04,2641.389893,2641.389893,2641.389893,2641.389893,2641.389893,0.0
3,1996-03-05,2638.810059,2638.810059,2638.810059,2638.810059,2638.810059,0.0
4,1996-03-06,2619.360107,2619.360107,2619.360107,2619.360107,2619.360107,0.0

In [3]:
df=df.drop(['Open', 'Volume', 'Adj Close'], axis=1)

In [4]:
df=df.dropna()
df.size

24912

In [5]:
df.dtypes

Date      object
High     float64
Low      float64
Close    float64
dtype: object

In [6]:
df.columns = ['date', 'High', 'Low', 'Close']

In [7]:
time=pd.to_datetime(df.date)
time.dtypes

dtype('<M8[ns]')

In [8]:
df.date=pd.to_datetime(df.date)
df.dtypes

date     datetime64[ns]
High            float64
Low             float64
Close           float64
dtype: object

In [9]:
per = df.date.dt.to_period("M")  # new way to get the same
close = df.groupby(per)
Dax_mean=close.mean()  # dang not quite what we want (doesn't fill in the gaps)
Dax_mean=Dax_mean.drop(['High', 'Low'], axis=1)
Dax_mean.head()

               Close
date
1996-02  2622.889893
1996-03  2590.200486
1996-04  2593.824541
1996-05  2619.829123
1996-06  2771.025513

In [10]:
high = df.groupby(per)
Dax_peak=high.max()  # dang not quite what we want (doesn't fill in the gaps)
Dax_peak=Dax_peak.drop(['Low', 'Close', 'date'], axis=1)
Dax_peak.head()

                High
date
1996-02  2622.889893
1996-03  2643.760010
1996-04  2668.780029
1996-05  2687.360107
1996-06  2876.129883

In [11]:
low = df.groupby(per)
Dax_low=high.min()  # dang not quite what we want (doesn't fill in the gaps)
Dax_low=Dax_low.drop(['High', 'Close', 'date'], axis=1)
Dax_low.head()

                 Low
date
1996-02  2622.889893
1996-03  2541.600098
1996-04  2547.429932
1996-05  2547.429932
1996-06  2678.060059

In [12]:
Dax_low.dtypes

Low    float64
dtype: object

In [13]:
Dax_low=Dax_low.dropna()
Dax_low['Low']=Dax_low['Low'].astype(int)

In [14]:
Dax_low.dtypes

Low    int32
dtype: object

In [15]:
Dax_low=Dax_low.dropna()
#Dax_low.to_csv(r'MDax_low_processed.csv')

In [16]:
Dax_peak=Dax_peak.dropna()
Dax_peak['High']=Dax_peak['High'].astype(int)
#Dax_peak.to_csv(r'MDax_peak_processed.csv')

In [17]:
Dax_mean.head()

               Close
date
1996-02  2622.889893
1996-03  2590.200486
1996-04  2593.824541
1996-05  2619.829123
1996-06  2771.025513

In [20]:
Dax_mean=Dax_mean.dropna()
Dax_mean.columns = ['ECO_MDAX']
Dax_mean=Dax_mean.replace(to_replace=r',', value='.', regex=True)
Dax_mean.head()
#Dax_mean['Close']=Dax_mean['Close'].astype(int)
#Dax_mean.to_csv(r'MDax_mean_processed.csv', index = False)
Dax_mean.to_csv(r'../ECO_MDAX.csv')