## Traffic data that contains the driven km of vehicles
Source: https://www.govdata.de/web/guest/daten/-/details/verkehr-in-kilometern-vk-fahrleistungen-2014-2018

In [5]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook

### Read data excel file and create dataframe

In [7]:
wb = load_workbook(filename='data/mobility/raw_data/VerkehrInKilimetern/vk_2018_xlsx.xlsx', 
                   read_only=True)
#worhsheet VK 1.1
ws = wb['VK 1.1']

# Read the cell values into a list of lists
data_rows = []
for row in ws['C8':'H41']:
    data_cols = []
    for cell in row:
        data_cols.append(cell.value)
    data_rows.append(data_cols)

#create Pandas dataframe
df = pd.DataFrame(data_rows)

### Only taking into account total number of vehicles without any separation between vehicle types

In [8]:
df = df[df[0]=='Insgesamt']
print(df.head())

            0          1          2          3          4          5
11  Insgesamt  707803279  717473073  727185629  734268707  735963885
22  Insgesamt      13431      13410      13366      13282      13102
33  Insgesamt   52698769   53503908   54405039   55282355   56171110

### Change indices

In [9]:
df[0][11] = "M_Mileage_in1000km"
df[0][22] = "M_AverageAnnualMileage_inkm"
df[0][33] = "M_MediumVehicleInvetory"
print(df.head())

                              0          1          2          3          4  \
11           M_Mileage_in1000km  707803279  717473073  727185629  734268707
22  M_AverageAnnualMileage_inkm      13431      13410      13366      13282
33      M_MediumVehicleInvetory   52698769   53503908   54405039   55282355

            5
11  735963885
22      13102
33   56171110

### Change column names

In [10]:
df.rename(columns={1:"2014", 2:"2015", 3:"2016", 4:"2017", 5:"2018"}, inplace=True)
print(df.head())

                              0       2014       2015       2016       2017  \
11           M_Mileage_in1000km  707803279  717473073  727185629  734268707
22  M_AverageAnnualMileage_inkm      13431      13410      13366      13282
33      M_MediumVehicleInvetory   52698769   53503908   54405039   55282355

         2018
11  735963885
22      13102
33   56171110

### Transpose dataframe

In [11]:
df_new = df.set_index(0)
df_new = df_new.transpose()

df_new.index.name = "date"
print(df_new.head())

0    M_Mileage_in1000km M_AverageAnnualMileage_inkm M_MediumVehicleInvetory
date
2014          707803279                       13431                52698769
2015          717473073                       13410                53503908
2016          727185629                       13366                54405039
2017          734268707                       13282                55282355
2018          735963885                       13102                56171110

### Save dataframe as csv

In [12]:
#when writing csv the 0 in the top right corner is not written to csv
df_new.to_csv('data/mobility/MileageInKM_yearly.csv')