In [1]:
import pandas as pd
import numpy as np
import openpyxl

Prepare workbook for preprocessing

In [2]:
wb = openpyxl.load_workbook(filename='../data/mobility/raw_data\Eisenbahng체terverkehr_monatlich.xlsx', 
                   read_only=True)

ws = wb['Eisenbahng체terverkehr_monatlich']

# Read the cell values into a list of lists
data_rows = []
for row in ws['A11':'L192']:
    data_cols = []
    for cell in row:
        data_cols.append(cell.value)
    data_rows.append(data_cols)

df = pd.DataFrame(data_rows)
#print(df.head())

#drop columns of uniportant data
df = df.drop(np.arange(2,11), axis=1)
#print(df.head())

#rename column names
df.columns = ['year', 'month', 'M_TotalRailFreights']
print(df.head())

   year    month  M_TotalRailFreights
0  2005   Januar           7340784257
1  2005  Februar           7274981626
2  2005     M채rz           7670631920
3  2005    April           8420136365
4  2005      Mai           7875948131

Mapping dictionary for month name and number

In [3]:
In [3]: d = {'Januar':1, 'Februar':2, 'M채rz':3, 'April':4, 'Mai':5, 'Juni':6, 'Juli':7, 'August':8, 'September':9, 'Oktober':10, 'November':11, 'Dezember':12, }
df.month = df.month.map(d)
print(df.head())

   year  month  M_TotalRailFreights
0  2005      1           7340784257
1  2005      2           7274981626
2  2005      3           7670631920
3  2005      4           8420136365
4  2005      5           7875948131

Combine year and month in one cell

In [4]:
#change datatype of year and month to change 2019.0 to 2019
df.year = df.year.astype('int16')
df.month = df.month.astype('int16')

#new column in format: yyyy-month as datatype string
df['date'] = df.year.astype('str') + '-' + df.month.astype('str')

#drop old columns of year and month
df = df.drop(['year', 'month'], axis=1)

#show df.head()
print(df.head())

   M_TotalRailFreights    date
0           7340784257  2005-1
1           7274981626  2005-2
2           7670631920  2005-3
3           8420136365  2005-4
4           7875948131  2005-5

Use the date column as index

In [5]:
#change of datatype of column date to datetime with monthly period
df.date = pd.to_datetime(df.date).dt.to_period('m')

#set index of dataframe to date
df = df.set_index('date')

#show df.head()
print(df.head())

         M_TotalRailFreights
date
2005-01           7340784257
2005-02           7274981626
2005-03           7670631920
2005-04           8420136365
2005-05           7875948131

Test Plot

In [6]:
df.M_TotalRailFreights.plot()

Save dateframe in csv format

In [7]:
df.to_csv('../data/mobility/Railway_FreightTransport_monthly.csv')