In [1]:
# Installing the packages
import numpy as np
import pandas as pd
import seaborn as sns 
import datetime

In [2]:
test  = pd.read_csv('Umsatzgroßhandel.csv',encoding = "ISO-8859-1", sep=';')

test=test.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1)
test.columns = ['year', 'month', 'Originalwerte']
pd.options.display.float_format = '{:,.0f}'.format
test= test.dropna()
test['year'] = test['year'].apply(np.int64)

test.head()
#test.dtypes

   year    month Originalwerte
0  1994   Januar          84,1
1  1994  Februar          87,4
2  1994     März         106,4
3  1994    April            93
4  1994      Mai          96,8

In [3]:
test=test.replace(to_replace=r'Januar', value='01', regex=True)
test=test.replace(to_replace=r'Februar', value='02', regex=True)
test=test.replace(to_replace=r'März', value='03', regex=True)
test=test.replace(to_replace=r'April', value='04', regex=True)
test=test.replace(to_replace=r'Mai', value='05', regex=True)
test=test.replace(to_replace=r'Juni', value='06', regex=True)
test=test.replace(to_replace=r'Juli', value='07', regex=True)
test=test.replace(to_replace=r'August', value='08', regex=True)
test=test.replace(to_replace=r'September', value='09', regex=True)
test=test.replace(to_replace=r'Oktober', value='10', regex=True)
test=test.replace(to_replace=r'November', value='11', regex=True)
test=test.replace(to_replace=r'Dezember', value='12', regex=True)
test.head()

   year month Originalwerte
0  1994    01          84,1
1  1994    02          87,4
2  1994    03         106,4
3  1994    04            93
4  1994    05          96,8

In [4]:
test.year= test['year'].astype(str)+'-'+test['month']
test=test.drop(['month'], axis=1)
test.head()

      year Originalwerte
0  1994-01          84,1
1  1994-02          87,4
2  1994-03         106,4
3  1994-04            93
4  1994-05          96,8

In [6]:
test.to_csv(r'../raw_data/grosshandel_processed.csv', index = False)