In [34]:
# Installing the packages
import numpy as np
import pandas as pd
import seaborn as sns 
import datetime

In [35]:
df = pd.read_csv('MDAXI.csv') # File path description
df.size
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1996-02-29,2622.889893,2622.889893,2622.889893,2622.889893,2622.889893,0.0
1,1996-03-01,2643.760010,2643.760010,2643.760010,2643.760010,2643.760010,0.0
2,1996-03-04,2641.389893,2641.389893,2641.389893,2641.389893,2641.389893,0.0
3,1996-03-05,2638.810059,2638.810059,2638.810059,2638.810059,2638.810059,0.0
4,1996-03-06,2619.360107,2619.360107,2619.360107,2619.360107,2619.360107,0.0

In [36]:
df=df.drop(['Open', 'Volume', 'Adj Close'], axis=1)

In [37]:
df=df.dropna()
df.size

24912

In [38]:
df.dtypes

Date      object
High     float64
Low      float64
Close    float64
dtype: object

In [39]:
time=pd.to_datetime(df.Date)
time.dtypes

dtype('<M8[ns]')

In [40]:
df.Date=pd.to_datetime(df.Date)
df.dtypes

Date     datetime64[ns]
High            float64
Low             float64
Close           float64
dtype: object

In [41]:
per = df.Date.dt.to_period("M")  # new way to get the same
close = df.groupby(per)
Dax_mean=close.mean()  # dang not quite what we want (doesn't fill in the gaps)
Dax_mean=Dax_mean.drop(['High', 'Low'], axis=1)
Dax_mean.head()

               Close
Date
1996-02  2622.889893
1996-03  2590.200486
1996-04  2593.824541
1996-05  2619.829123
1996-06  2771.025513

In [42]:
high = df.groupby(per)
Dax_peak=high.max()  # dang not quite what we want (doesn't fill in the gaps)
Dax_peak=Dax_peak.drop(['Low', 'Close', 'Date'], axis=1)
Dax_peak.head()

                High
Date
1996-02  2622.889893
1996-03  2643.760010
1996-04  2668.780029
1996-05  2687.360107
1996-06  2876.129883

In [43]:
low = df.groupby(per)
Dax_low=high.min()  # dang not quite what we want (doesn't fill in the gaps)
Dax_low=Dax_low.drop(['High', 'Close', 'Date'], axis=1)
Dax_low.head()

                 Low
Date
1996-02  2622.889893
1996-03  2541.600098
1996-04  2547.429932
1996-05  2547.429932
1996-06  2678.060059

In [44]:
Dax_low.dtypes

Low    float64
dtype: object

In [45]:
Dax_low=Dax_low.dropna()
Dax_low['Low']=Dax_low['Low'].astype(int)

In [46]:
Dax_low.dtypes

Low    int32
dtype: object

In [47]:
Dax_low=Dax_low.dropna()
Dax_low.to_csv(r'MDax_low_processed.csv', index = False)

In [48]:
Dax_peak=Dax_peak.dropna()
Dax_peak['High']=Dax_peak['High'].astype(int)
Dax_peak.to_csv(r'MDax_peak_processed.csv', index = False)

In [49]:
Dax_mean.head()

               Close
Date
1996-02  2622.889893
1996-03  2590.200486
1996-04  2593.824541
1996-05  2619.829123
1996-06  2771.025513

In [50]:
Dax_mean=Dax_mean.dropna()
Dax_mean['Close']=Dax_mean['Close'].astype(int)
Dax_mean.to_csv(r'MDax_mean_processed.csv', index = False)