# Preprocessing of target data

### Load necessary libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

### Define filepath of raw data and load raw file into dataframe

In [2]:
filepath = './raw data/Öko-Institut Sektorale_Abgrenzung_Treibhausgasemissionen_Datenbasis_(Stand 17. Dez 19).xlsx'
data = pd.read_excel(filepath, sheet_name='Tabelle 1-3')

### Subselect only important data from overall file

In [3]:
targets_1990_2017 = data.iloc[17, 5:33]
targets_2018_2030 = data.iloc[17, 63:76]

### Prepare time history entries and corresponding values (targets)

In [4]:
targets_1990_2017 = targets_1990_2017.tolist()
targets_2018_2030 = targets_2018_2030.tolist()
targets_1990_2017.extend(targets_2018_2030)
targets = targets_1990_2017
years = np.arange(1990, 2031, 1)

### Create dataframe in predefined style and save as .csv into file

In [5]:
d = {'date': years, 'Mio.tonnes_CO2': targets}
df = pd.DataFrame(data=d)
df.to_csv('./Öko-Institut Sektorale_Abgrenzung_Treibhausgasemissionen_Datenbasis.csv', index=False)

In [6]:
df

    date  Mio.tonnes_CO2
0   1990     1250.992609
1   1991     1203.924492
2   1992     1153.796499
3   1993     1144.856754
4   1994     1125.835195
5   1995     1123.034586
6   1996     1141.084766
7   1997     1106.000522
8   1998     1080.728823
9   1999     1047.033512
10  2000     1045.187434
11  2001     1060.271286
12  2002     1038.919731
13  2003     1035.574182
14  2004     1019.123500
15  2005      993.343677
16  2006     1000.637861
17  2007      973.941704
18  2008      975.645902
19  2009      908.054023
20  2010      942.541887
21  2011      920.305852
22  2012      924.611396
23  2013      942.250052
24  2014      903.196414
25  2015      907.190482
26  2016      911.049006
27  2017      906.611464
28  2018      895.032108
29  2019      888.689650
30  2020      882.347191
31  2021      876.004733
32  2022      869.662274
33  2023      863.319816
34  2024      856.977357
35  2025      850.634899
36  2026      844.292440
37  2027      837.949982
38  2028      831.607523
39  2029      825.265065
40  2030      818.922606